doctype html
html
  head

    block stylesheets
        //-Import Google Icon Font
        link(rel='stylesheet' href=layout.font)
        link(rel='stylesheet' type='text/css' href=layout.materializeCss media='screen,projection')
        link(rel='stylesheet' type='text/css' href=layout.css media='screen,projection')
    block meta
        meta(charset="utf-8")
        if metaData
            block title
                title= metaData.title
  body
    block content
    block javascripts
        //-Import jQuery before materialize.js
        script(type='text/javascript' src=layout.jquery)
        script(type='text/javascript' src=layout.materializeJs)
        script(type='text/javascript' src=layout.cssJs)